<h1>Your secret message is ready</h1>
<br/>

<% if @secret.password? %>
  Password: <input type="text" id="copyText1" value="<%= @secret.password %>">
  <button id="copyBtn1"><i class="ph-copy"></i> Copy</button>
  <br/>
<% end %>

Limit to view: <%= @secret.view_limit %>
<br/>

Link to your secert message:
<input type="text" id="copyText2" value="<%= @secret.link %>">
<button id="copyBtn2"><i class="ph-copy"></i> Copy</button>
<br/>

<a href="/">Go to the main page</a>
<br/>


<script>
const copyBtn1 = document.getElementById('copyBtn1')
const copyText1 = document.getElementById('copyText1')

if (copyBtn1 !== null) {
  copyBtn1.onclick = () => {
    copyText1.select();
    document.execCommand('copy');
  }
}

const copyBtn2 = document.getElementById('copyBtn2')
const copyText2 = document.getElementById('copyText2')

copyBtn2.onclick = () => {
  copyText2.select();
  document.execCommand('copy');
}
</script>
