<h1>Secret message</h1>
<br/>

<form action="javascript: void(0);">
  <input type="hidden" id="secret_id" name="secret_id" value="<%= @secret.id %>">
  <% if @secret.password? %>
    Password: <input type="password" id="password" name="password" value="" placeholder="Type pass here...">
    <p>Fill password and click the button to show the message</p>
  <% else %>
    <p>Click the button to show the message</p>
  <% end %>
  <br/>
  <button type="submit" onclick="fetchMessage()">Show message</button>
</form>

<textarea id='message_result'></textarea>
<br/>

<a href="/">Go to the main page</a>
<br/>

<script>
function fetchMessage(){
  var element = document.getElementById('password')
  var pass = null;

  if (element === null){
  }else{
    pass = element.value
  }

  var secret_id = document.getElementById('secret_id')
  var id = secret_id.value

  var message_result = document.getElementById('message_result')

  var request = new XMLHttpRequest();
  var path = '/api/secrets/' + id + '?password=' + pass

  request.open('GET', path, true);

  request.onload = function() {
    if (this.status >= 200 && this.status < 400) {
      var data = JSON.parse(this.response);
      message_result.value = data['message']
    } else {
      console.log('We have an error1')
      var data = JSON.parse(this.response);
      message_result.value = 'ERROR: ' + data['error']
    }
  };

  request.onerror = function() {
    console.log('We have an error2')
      var data = JSON.parse(this.response);
      message_result.value = 'ERROR: ' + data['error']
  };

  request.send();
}
</script>
