<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Your awesome application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

</head>
<body>
  <h1> Hello world! </h1>
  <%= yield if block_given? %>
</body>
</html>
