<form action="/" method="post" enctype="application/x-www-form-urlencoded" class="mb-3">
  <div class="form-group">
    <label for="item_name_main">Добавь план на день</label>
    <!--  How to wrapper params ? -->
    <input type="text" class="form-control" id="item_name_main" name="title" placeholder="Писать сюда...">
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
</form>
