<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Мой список дел!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/5.1/examples/pricing/pricing.css" rel="stylesheet">
</head>
<body>
  <div class="container py-3">
    <%= render_partial 'header' %>

    <main>
      <%= yield %>
    </main>

    <%= render_partial 'footer' %>
  </div>
</body>
</html>
