<h2>Hello world!</h2>

<!-- new group form -->
<div class="row">
  <div class="col">
    <h3>Create new group</h3>
  </div>
</div>

<%= render_partial 'shared/_new_group_form', locals: { item: Group.new } %>

<!-- all groups -->
<div class="row">
  <div class="col">
    <h3>Your TODO lists</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="list-group">
      <% if @groups.size > 0 %>
        <% @groups.each do |group| %>
          <a href="/groups/<%= group.id %>/items" class="list-group-item list-group-item-action">
            <%= group.title %>
          </a>
        <% end %>
      <% else %>
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          You don't have any TODO list. Create a new one!
        </a>
      <% end %>
    </div>
  </div>
</div>
