<div class="row">
  <div class="col">
    <form action="/groups" method="post" enctype="application/x-www-form-urlencoded">
      <div class="mb-1">
        <label for="group_name_main">Title</label>
        <input type="text" class="form-control" id="group_name_main" name="title" value="<%= item.title %>" placeholder="type here...">
      </div>
      <div class="mb-1">
        <label for="group_descr_main">Description</label>
        <input type="text" class="form-control" id="group_descr_main" name="description" value="<%= item.description %>" placeholder="type here...">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary btn-sm">Create</button>
      </div>
    </form>
  </div>
  <div class="col">
  </div>
</div>
